@CHARSET "ISO-8859-1";

body {
  padding-left: 11em;
  font-family: Georgia, "Times New Roman", Times, serif;
  color: purple;
  background-color: #F0E9DA;
  display: block;
}

ul{
	list-style-image: url("http://ciembor.github.io/4bit/images/github.png");
}
h1 {
  font-family: Helvetica, Geneva, Arial, SunSans-Regular, sans-serif; 
   vertical-align: center;
   }
a:link {
  color: blue; 
 }
a:visited {
  color: purple; 
 }
  
.contenedor-principal{
	background-color: #DAE1F0;
	margin: 30px 30px 30px 30px;
	width: 700px;
	height: 700px;
	vertical-align: center;
	border: 1px solid black;
	display: block;
	background-image: url("http://imageshack.com/a/img901/9512/6yobBM.png");
}